<template name="About">
  <div class="container">
    <div class="jumbotron">
      <label class="w3-center"><a class="navbar-brand" href="/"><label class="w3-allerta font-effect-brick-sign w3-jumbo">War</label><label class="w3-lobster w3-jumbo">Bay!</label></a></label>
      <br><br><br><br>
      <p>
        <i>This is the place that you want to spend time viewing the games that you want and you can buy it.</i>
      </p>
      <p>
        <i>If you don't want these games you don't use, you can join to own community to share this game and sell it, quick and easy to publish in a few clicks :D.</i>
      </p>
    </div>
  </div>
</template>
