<template name="Buy">
  <div class="container">
    <div class="jumbotron">
      <div class="container">
         <h1>Games</h1>
        <!-- <p>Find the game would you like!</p>
        <form>
          <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" name="usr" placeholder="Game name" required>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Search <span class="caret"></span></button>

            <button type="button" class="btn btn-primary" id="adv-js">
              Advance search
            </button>
              <ul class="dropdown-menu" role="menu">
                <li><a class="btn btn-default" id="new-jsid" href="/gamesindex">New</a></li>
                <li><a class="btn btn-default" id="used-jsid" href="/gamesindex">Used</a></li>
              </ul>
          </div>
        </form> -->

          {{#each show_games}}
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading" id="product_image">
                    <div class="jumbotron jumbotron-icon">
                        <div class="container" id="icon-container">
                            <div class="info-icons">
                                <img src={{file}} style="width:110px; height:170px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" id="product_description">
                    <div class="description">{{name}}<br>
                      <br>
                      <i class="glyphicon glyphicon-usd">{{price}}</i>
                      <br>
                      <input type="button" id="info-js" value="Info" class="btn btn-primary"/>
                    </div>
                </div>
                <div class="panel-footer">
                   <!-- <button type="button" id="addc-js" class="btn btn-raised btn-info" data-content="Game added" data-toggle="snackbar" data-timeout="4000">Add to cart</button> -->
                   <a href="/cart" id="addc-js" class="btn btn-raised btn-info">
                     <i class="glyphicon glyphicon-shopping-cart"></i>
                     Add to cart
                   </a>
                </div>
            </div>
        </div>
        {{/each}}
        {{> defaultBootstrapPaginator pagination=templatePagination limit=5 containerClass="text-center"}}
      </div>
    </div>
    <!-- <div id="advtemple" style="display: None">
      {{>Advsrch}}
    </div> -->
  </div>
</template>
