<template name="Cart">
  <form id="shopping-cart" method="post">
  	<table class="shopping-cart">
  		<thead>
  			<tr>
  				<th scope="col"><h3><span class="glyphicon glyphicon-th-list"></span> Item</h3></th>
  				<th scope="col"><h3><span class="glyphicon glyphicon-option-vertical"></span>Quantity</h3></th>
  			</tr>
  		</thead>
      <tbody>
        {{#each items}}
            <tr>
              <td data-id="{{_id}}">{{item.title}}</td>
              <td>{{amount}}</td>
            </tr>
          {{/each}}
      </tbody>
  	</table>
  	<p>
  		<h3>Sub Total:</h3> <span class="glyphicon glyphicon-usd"></span> <strong>{{totalPrice}}</strong>
  	</p>

   {{#if currentUser}}
     <div>
       <a href="/buy" class="btn btn-primary">
         <i class="glyphicon glyphicon-shopping-cart"></i>
         Continue shopping
       </a>
     </div>
    <div>
      <a href="/checkout" class="btn btn-primary">
        <i class="glyphicon glyphicon-check" ></i>
        Go to checkout
      </a>
    </div>
  {{else}}
    <p><h4 style="color:red;">You need to log in to purchase :/</h4></p>
  {{/if}}
  </form>
</template>
