<template name="Cart">
  <form id="shopping-cart" method="post">
  	<table class="shopping-cart">
  		<thead>
  			<tr>
  				<th scope="col"><h3><span class="glyphicon glyphicon-th-list"></span> Item</h3></th>
  				<th scope="col"><h3><span class="glyphicon glyphicon-option-vertical"></span>Quantity</h3></th>
  				<th scope="col"><h3><span class="glyphicon glyphicon-usd"></span>Price</h3></th>
  			</tr>
  		</thead>
      <tbody>
        
      </tbody>
  	</table>
  	<p>
  		<h3>Sub Total:</h3> <span class="glyphicon glyphicon-usd"></span> <label id="sub-t" value=""></label>
  	</p>
	 <ul id="shopping-cart-actions">
		<li>
			<input type="submit" name="update" class="btn" value="Update Cart" />
		</li>
		<li>
			<input type="submit" name="delete" class="btn" value="Empty Cart" />
		</li>
		<li>
			<a href="/gamesindex" class="btn"><h6>Continue Shopping <span class="glyphicon glyphicon-plus"></span></h6></a>
		</li>
		<li>
			<a href="/checkout" class="btn"><h6>Go to Checkout <span class="glyphicon glyphicon-check"></span></h6></a>
		</li>
	 </ul>
  </form>
</template>
