<template name="Checkout">
  <div class="container">
    <div class="jumbotron">
      {{#if currentUser}}
      <fieldset>
      <table class="table table-striped table-hover">
    		<thead>
    			<tr>
    				<th scope="col"><h3><span class="glyphicon glyphicon-th-list"></span> Item</h3></th>
    				<th scope="col"><h3><span class="glyphicon glyphicon-option-vertical"></span>Quantity</h3></th>
    			</tr>
    		</thead>
        <tbody>
          {{#each items}}
              <tr>
                <td data-id="{{_id}}">{{item.title}}</td>
                <td>{{amount}}</td>
              </tr>
          {{/each}}
        </tbody>
    	</table>
      <p>
    		<h4>Subtotal:</h4> <span class="glyphicon glyphicon-usd"></span> {{subtotal}}
    		<h4>Tax (7%):</h4> <span class="glyphicon glyphicon-usd"></span> {{tax_seven}}
    		<h4>Total:</h4> <span class="glyphicon glyphicon-usd"></span> <i><strong>{{totalseven}} USD</strong></i>
    	</p>
      </fieldset>

      <form method="post">
      	<h2>Your Details</h2>
      		<fieldset>
      			<legend>Billing</legend>
      <div class="form-group">
        <h4>Name</h4>
        <input type="text" class="form-control" name="name_check" placeholder="First and last name" required>
        <h4>Email</h4>
        <input type="text" class="form-control" name="email_check" placeholder="Email address" required>
        <h4>City</h4>
        <input type="text" class="form-control" name="city_check" placeholder="City" required>
        <h4>Address</h4>
        <input type="text" class="form-control" name="address_check" placeholder="Specific address" required>
      </div>

      <div>
      	<h4>Country</h4>
      		<select name="country"  data-type="string">
      			<option value="">Select</option>
      			<option value="Panama">Panama</option>
            <option value="Costa_Rica">Costa Rica</option>
            <option value="Colombia">Colombia</option>
      			<option value="US">United States</option>
      		</select>
      </div>

      <div>
        <p>
        <h4>Credit card</h4>
        <input type="tel" id="ccnum-js" class="form-control" name="credit_number_check" placeholder="Number with spaces" maxlength="19" required>
        <input type="tel" id="exp-month" class="form-control" name="expireM_check" placeholder="exp - MM" maxlength="2" required>
        <input type="tel" id="exp-year" class="form-control" name="expireY_check" placeholder="exp - AAAA" maxlength="4" required>
        <input type="tel" id="cvc-js" class="form-control" name="email_check" placeholder="CVV" maxlength="3" required>
        </p>
      </div>

      </fieldset>

      <p><input type="submit" value="Pay" class="btn btn-raised btn-primary" /></p>
      </form>
      {{else}}
        <p><h4 style="color:red;">Log in before purchase :/</h4></p>
      {{/if}}
    </div>
  </div>

</template>
