<template name="Footer">
  <nav class="navbar navbar-light navbar-bottom" role="navigation" align="center" style=background-color:#000;>
  <div class="container">
    <h5 style=color:#d1d1d1;>Copyright &copy; WarBay 2016; Ennio Díaz, Cesar Galvez</h5><hr>
    <h5 style=color:#d1d1d1;>Follow Us</h5>
    <a target="_new" href="https://twitter.com/warbaypanama">
    <img src="images/twitter.png" style="background-color:#d1d1d1; border: 0pt none;" width="30" height="30" /></a>
    <a target="_new" href="https://web.facebook.com/profile.php?id=100012762761550">
    <img src="images/facebook.png" style="background-color:#d1d1d1; border: 0pt none;" width="30" height="30" /></a>
    <br><br>
  </div>
</nav>
</template>
