<template name="Slideshow">
  <body>
    <label class="w3-center"><a class="navbar-brand" href="/"><label class="w3-allerta w3-text-khaki w3-xxxlarge">War</label><label class="w3-lobster w3-text-teal w3-xxxlarge">Bay!</label></a></label>
    <br><br>
    <div class="w3-content w3-section" style="max-width:500px">
      <img class="mySlides" src="images/overwatch.jpg" style="width:100%">
      <img class="mySlides" src="images/zelda.png" style="width:100%">
      <img class="mySlides" src="images/league.jpg" style="width:100%">
    </div>
  </body>
</template>

 <template name="Home">
  <div class="container">
    <div class="jumbotron">
    <div class="logo" align="center">
       {{>Slideshow}}<br><br>
       <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {myIndex = 1}
            x[myIndex-1].style.display = "block";
            setTimeout(carousel, 4000); // Change image every 2 seconds
        }
        </script>
    </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="col-sm-4 col-sm-offset-1 panel panel-primary">
                 <div class="panel-heading">
                   <h3 class="panel-title">Trending</h3>
                 </div>
                 <div class="panel-body">
                   <img src="https://upload.wikimedia.org/wikipedia/en/2/27/FIFA_16_cover.jpg" style="width:110px; height:170px;" />
                   <img src="https://upload.wikimedia.org/wikipedia/en/2/22/Star_Wars_Battlefront_2015_box.jpg" style="width:110px; height:170px;" />
                   <br>
                   <a href="/buy" class="btn btn-raised btn-info">View Games<div class="ripple-container"></div></a>
                 </div>
              </div>
              <div class="col-sm-4 col-sm-offset-1 panel panel-primary">
                 <div class="panel-heading">
                   <h3 class="panel-title">Brand new</h3>
                 </div>
                 <div class="panel-body">
                  <img style="width:250px; height:170px;" src="http://vignette3.wikia.nocookie.net/overwatch/images/5/5f/Frontslider_1.jpg/revision/latest/scale-to-width-down/670?cb=20160502005828"/>
                   <br>
                   <a href="/buy" class="btn btn-raised btn-info">View Games<div class="ripple-container"></div></a>
                 </div>
              </div>
            </div>

          </div>
      </div>
  </div>

</template>
