<template name="Sell">
  <div class="container">
    <div class="jumbotron">
      <h2>Sell</h2>
      <p>Public your game!</p>
      <form>
        <div class="form-group">
          <label>Game:</label>
          <input type="text" class="form-control" name="namg_sell" placeholder="Name" required>
          <label>Publish description:</label>
          <input type="text" class="form-control" name="pubDesc" placeholder="Description" required>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Rating</label>
          <div class="col-md-10">
            <select class="input-large form-control" name="rate_ht">
              <option value="">Select a rating</option>
              <option value="Everyone">Everyone</option>
              <option value="Everyone+10">Everyone +10</option>
              <option value="Teen">Teen</option>
              <option value="Mature">Mature</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Genre</label>
          <div class="col-md-10">
            <select class="input-large form-control" name="genre_ht">
              <option value="">Select a genre</option>
              <option value="Action">Action</option>
              <option value="Adventure">Adventure</option>
              <option value="Racing">Racing</option>
              <option value="Sports">Sports</option>
              <option value="Strategy">Strategy</option>
              <option value="Terror">Terror</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control" name="email_ht" placeholder="Email addres" required>
          <label>Phone:</label>
          <input type="number" class="form-control" name="phone_ht" size="8" pattern="[0-9]" placeholder="Phone number" required>
          <label>Price</label>
          <input type="double" class="form-control" name="price_ht" size="1000.99" placeholder="Set a price" required>
        </div>

        <div class="form-group is-empty is-fileinput">
          <label for="inputFile" class="col-md-2 control-label">Image</label>
          <div class="col-md-10">
            <input type="text" name="imgdir_ht" class="form-control" placeholder="URL...">
            <!-- <input type="file" id="inputFile" multiple=""> -->
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-14 col-md-offset-2">
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>

</template>
